* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: grey;
  color: white;
}
main {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5vh;
}

main div {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
main div button {
  padding: 1.5vw 3vw;
  color: black;
  cursor: pointer;
  border: 10px;
}
main div button:hover {
  background-color: aquamarine;
}
main img {
  width: auto;
}
